body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-weight: 500px;
    color: rgb(61, 61, 61);
}

.text-h-1 {
    color: gray;
    font-size: 60px;
    font-weight: 900;
    


}

.text-h-2{
    color: rgb(99, 99, 99);
    font-size: 35px;
    font-weight: 900;
     
}

.text-p-2{
    color: gray;
    font-size: 20px;
}

.text-f-900{
    font-weight: 900;
    font-size: 25px;
}

.orange {
    color: lightsalmon;
}

.text-graycolor{
    color: rgb(90, 90, 90);
}

.text-white-footer{
    color: white;
}

.flex{
    display: flex;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.first-contant {
    margin-left: 80px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.secaind-contant{
    position: relative;
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 100px;
    

}

.secaind-contant img{
    position: absolute;
    width: 26%;
   padding-left: 150px;
   bottom: 0;
}

.secaind-contant-text{
    padding: 100px 200px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 25px 45px;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    font-size: 23px;
    border-radius: 45px;
    box-shadow: 2px 2px 40px lightsalmon;
  }

.link-button:hover{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 40px;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    border-radius: 60px;
    box-shadow: 4px 4px 40px tomato;
}


.My-Recipies{
    text-align: center;
    margin: 0px 30% 50px 30%;
}

.food-container{
    display: flex;
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
    
}

.food-blog img{
    width: 100%;   
}

.food-blog{
    box-shadow: 0.1px 0.1px 40px rgb(212, 212, 212);
    border-radius: 30px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
}

.text-big-bold{
    font-size: 37px;
    font-weight: 900;
}

.rattinge{
    display: flex;
    box-shadow: 0.1px 0.1px 30px rgb(210, 210, 210);
    border-radius: 20px;
    margin: 20px 80px 80px 80px;
    padding: 15px;
     
}

.rattinge div{
    padding-left: 150px;
    padding-right: 150px;
    padding-right: 10px;
}

.text-big-bold{
    font-size: 37px;
    font-weight: 900;
}

footer{
    background-color: black;
    margin-bottom: 0;
    text-align: center;
    padding: 30px 0  100px;
}